$colorWhite: #fff;
$colorText: #0a121f;
$colorBg: #e6e8e9;
$colorPrimary: #29487a;
$colorSecondary: #d7a488;
$colorBorder: #bbb;
$colorBoxShadow: #7d7878;

$boxShadow: 5px 7px 9px -1px rgba($colorBoxShadow, 0.75);

$tablet: 768px;
$desktop: 1024px;
