.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0 0 -20px -20px;
}

.item {
    flex: 0 1 100%;
    padding: 0 0 20px 20px;
}

@media (min-width: 768px) {
    .item {
        flex-basis: 50%;
    }
}

@media (min-width: 1024px) {
    .item {
        flex-basis: percentage(1/3);
    }
}
