@import '../../sass/variables';

.ship {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 5px;
    box-shadow: $boxShadow;
    overflow: hidden;
    background: $colorWhite;
}

.content {
    padding: 5px 15px;
    flex: 0 1 60%;
    max-width: 60%;
}

.media {
    flex: 0 1 40%;
    max-width: 40%;
    background: $colorBorder;
}

.image {
    object-fit: cover;
    width: 100%;
    display: block;
}

.title {
    margin: 0 0 10px;
}

.text {
    font-weight: bold;
}
