.list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
}

.item {
    flex: 0 1 100%;
}

@media (min-width: 768px) {
    .item {
        flex: 0 1 50%;
    }
}

@media (min-width: 1024px) {
    .item {
        flex: 0 1 percentage(1/3);
    }
}
