@import '../../sass/variables';

.nav {
    height: 60px;
    overflow: hidden;
    background: $colorPrimary;
    margin-bottom: 10px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.logo {
    display: flex;
    align-items: center;
}

.icon {
    display: block;
    height: 40px;
    width: 40px;
    margin-right: 10px;
}

.title {
    color: $colorSecondary;
    margin: 0;
    font-size: 20px;
}

.links {
    display: flex;
}

.link {
    display: inline-block;
    text-decoration: none;
    color: $colorSecondary;
    font-weight: bold;
    font-size: 14px;
    padding: 5px 10px;

    &:hover {
        text-decoration: underline;
    }
}

.is_active {
    color: $colorWhite;
    text-decoration: underline;
}

@media (min-width: $tablet) {
    .title {
        font-size: 24px;
    }

    .link {
        font-size: 16px;
    }
}

@media (min-width: $desktop) {
    .nav {
        margin-bottom: 30px;
        height: 80px;
    }

    .content {
        padding: 10px 30px;
    }

    .icon {
        height: 60px;
    }
}
